{% extends 'base.html' %} 
{% load static %}
{% block title %}{{ recipe.name }}{% endblock %} 
{% block page_heading %}{{ recipe.name }}{% endblock %}
{% block content %}
    {% for image in recipe.images.all %}
        <img src="{{ image.image.url }}" alt="{{ image.description }}" height="300">
    {% empty %}
        <p>This recipe has no available images</p>
    {% endfor %}
    <p> Got more images? 
        <a href="{% url 'ledger:recipe-add-image' recipe.id %}">Add them here!</a>
    </p>
    <h4>Recipe created by {{recipe.author.name}}</h4>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>
                {{ ingredient.ingredient.name }} - {{ ingredient.quantity }}
            </li>
        {% endfor %}
    </ul>
    <hr>
    <p><a href="{% url 'ledger:recipe-list' %}">Back to Recipe List</a></p>
{% endblock %}
